
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Playwrite+AU+VIC+Guides&family=Yuji+Mai&display=swap');

ul{
    color: teal;
    font-size: 30px;
    text-align:center;
    font-family: "Nabla", serif;
}

